header{
    position: fixed;
    width: 100%;
    background: maroon;
    color: yellowgreen;
    text-align: center;
    margin: 0;
    top: 0;
    border: solid;
    border-color: darkred;
    border-width: 15px;
}
body{
    position: relative;
    margin: 0;
    padding-bottom: 28.125%;
    padding-top: 5%;
    background: saddlebrown;
}
iframe{
    position: relative;
    width: 100%;
}
footer{
    position: fixed;
    bottom: 0;
    background: maroon;
    width: 100%;
    text-align: center;
    border: solid;
    border-color: darkred;
    border-width: 15px;
}