#profilePic{
    position: relative;
    top: 25px;
    left: 0;
    width: 300px;
    float: left;
    clear: left;
    margin-right: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    border-width: 5px;

}

#pCard{
    position: absolute;
    height: 750px;
    top: 150px;
    left:188px;
    margin-top: 3%;
}
#cCard{
    height: 650px;
    top: 175px;
    left: 188px;
}

#name, #email, #comments{
    width: 100%;
    margin: 5px;
    padding-left: 10px;
}
#name{
    height: 20px;
}
#email{
    height: 20px;
}
#comments{
    padding-bottom: 180px;
    font-size: 22px;

}
#submit{
    margin: 5px;
    padding: 5px 10px;

}
#contactForm{
    padding-top: 15px;
}